.document-table {
    border-collapse: collapse;
    margin-bottom: 24px;
    margin-right: 24px;
    tr:not(.sum-tr) {
        cursor: move;
    }
    th,
    td {
        border: solid 1px #ccc;
        padding: 10px;
        box-sizing: border-box;
    }
    th {
        text-align: center;
        background: #f5f7f9;
        cursor: default;
    }
    td:not(.action-cell) {
        background: #fff;
        input,
        select {
            border-radius: 0;
            border: none;
            border-bottom: dotted 1px #ccc;
            &:focus {
                border-bottom: solid 1px #00acc1 !important;
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }
    .action-cell {
        text-align: center;
        border: none;
        background-color: transparent;
        &:hover .delete-row-button {
            opacity: 1;
        }
    }
    .delete-row-button {
        color: #777;
        background-color: transparent;
        text-decoration: none;
        cursor: pointer;
        transition: 0.1s;
        opacity: 0;
        &:hover {
            color: #aaa;
        }
    }
    .item-cell {
        position: relative;
    }
}
