.iv-table {
    vertical-align: middle;

    .status {
        display: block;
        width: 100%;
        max-width: calc(0.75rem * 6);
        font-size: 0.75rem;
        text-align: center;
        user-select: none;
        padding: 3px 7px;
        margin: 2px 0;
        border: solid 1px #ddd;

        &:hover {
            transform: scale(0.95);
            cursor: pointer;
        }

        &.set {
            background: #00acc1;
            color: #fff;
        }

        &.miss {
            background: #3a3a3a;
            color: #fff;
        }
    }

    .number {
    }
}
